@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");

html {
  box-sizing: border-box;
  height: max-content;
}

body {
  margin: 0;
}

.header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 375px;
  margin: 0;
}

.navigator {
  display: flex;
  margin-right: 24px;
  height: 24px;
  width: 24px;
  align-self: center;
}

.headline {
  background: url("images/Illustration\ \(1\).png");
  background-position: 35vh 48vw;
  background-repeat: no-repeat;
  background-size: 48%;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 375px;
  height: 634px;
  left: 0;
  top: 44px;
  border-radius: 0;
}

.introduction {
  width: 327px;
  height: 124px;
  font-family: "crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
  padding: 120px 24px 6px;
}

.supporting-text {
  width: 327px;
  height: 27px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin: 0;
  padding: 6px 24px;
}

.description {
  width: 327px;
  height: 123px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  padding: 6px 24px;
}

.social-networks-buttons {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  gap: 12px;
  margin: 0;
  padding: 6px 135px 120px 24px;
}

.image-size {
  margin: 0;
  padding: 8px;
  border-radius: 8px;
}

.name {
  width: 120px;
  height: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  margin-left: 24px;
  color: #fff;
}
